<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Designation</th>
        </tr>
        <tr *ngFor='let e of employees'>
            <td>{{e.id}}</td>
            <td>{{e.name}}</td>
            <td>{{e.age}}</td>
            <td>{{e.designation}}</td>
        </tr>
    </table>
</body>
</html>
